<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" class="btn btn-primary" title="Creative Commons License">
	<i class="fa fa-fw fa-lg fa-creative-commons"></i>&nbsp;&nbsp;BY-SA 4.0
</a>
<a xmlns:cc="http://creativecommons.org/ns#" href="https://cerkit.com" property="cc:attributionName" rel="cc:attributionURL" class="btn btn-primary" title="Attribution: Michael Earls at cerkit.com">
	<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Attribution: cerkit.com blog</span> by Michael Earls
</a> 