<!-- sidebar -->
{{!include the various components}}
{{> "search-form"}}
<div class="sidebar-component-container"></div>
{{> "bio-panel"}}
{{> "sidebar-soundcloud"}}
{{!> "sidebar-theme-picker"}}
<!-- /sidebar -->
