<div>
  <div class="panel panel-primary" id="soundCloudContainer">
    <div class="panel-heading">
      My musical creations
    </div>
    <div class="panel-body" id="soundCloudPanel">

    </div>
  </div>
</div>
