<div class="panel panel-primary" id="themeSelectorContainer">
    <div class="panel-heading">
        Alternate Theme
    </div>
    <div class="panel-body">
        <form class="form-inline" id="theme-selection-form">
            <div class="form-group">
                <div class="input-group">
                    <label for="theme-selector">Select theme</label>
                    <select id="theme-selector" class="form-control">
                        <option value="cerulean">Cerulean</option>
                        <option value="cosmo">Cosmo</option>
                        <option value="cyborg">Cyborg</option>
                        <option value="darkly">Darkly</option>
                        <option value="flatly">Flatly</option>
                        <option value="journal">Journal</option>
                        <option value="lumen">Lumen</option>
                        <option value="paper">Paper</option>
                        <option value="readable">Readable</option>
                        <option value="sandstone">Sandstone</option>
                        <option value="simplex">Simplex</option>
                        <option value="slate">Slate</option>
                        <option value="spacelab">Spacelab</option>
                        <option value="superhero">Superhero</option>
                        <option value="united">United</option>
                        <option value="yeti">Yeti</option>
                    </select>
                    <button class="btn btn-success form-control" onclick="_cerkit.themeSelector.clearTheme()">Reset</button>
                </div> <!-- .input-group -->
            </div> <!-- .form-group -->
        </form>
    </div>
</div>
